ion-toolbar.vb {
    --background: #1f5b87 !important;
    display: inline-block;
    width: 100%;
}

ion-toolbar.vb ion-title {
    font-weight: normal;
}

.po {
    --background: #f1f1f1 !important;
}

.po ion-button {
    --ion-color-base: #de5b61 !important;
}

.po ion-input {
    color: #666666 !important;
    font-size: 14px !important;
}

.po ion-label {
    color: #666666 !important;
    font-size: 14px !important;
}