<ion-header>
    <ion-toolbar class="vb">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Change Password</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="po">
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmitChangePass(changePasswordForm)" padding>
        <div formGroupName="matching_passwords">
            <ion-item>
                <ion-label position="floating" color="primary">Password</ion-label>
                <ion-input type="password" formControlName="password"></ion-input>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.password">
                    <div class="error-message" *ngIf="changePasswordForm.get('matching_passwords').get('password').hasError(validation.type) && (changePasswordForm.get('matching_passwords').get('password').dirty || changePasswordForm.get('matching_passwords').get('password').touched)">
                        <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                    </div>
                </ng-container>
            </div>

            <ion-item>
                <ion-label position="floating" color="primary">Confirm Password</ion-label>
                <ion-input type="password" formControlName="confirm_password"></ion-input>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.confirm_password">
                    <div class="error-message" *ngIf="changePasswordForm.get('matching_passwords').get('confirm_password').hasError(validation.type) && (changePasswordForm.get('matching_passwords').get('confirm_password').dirty || changePasswordForm.get('matching_passwords').get('confirm_password').touched)">
                        <ion-icon name="information-circle-outline"></ion-icon>{{ validation.message }}
                    </div>
                </ng-container>
            </div>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.matching_passwords">
                    <div class="error-message" *ngIf="changePasswordForm.get('matching_passwords').hasError(validation.type) && (changePasswordForm.get('matching_passwords').get('confirm_password').dirty || changePasswordForm.get('matching_passwords').get('confirm_password').touched)">
                        <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                    </div>
                </ng-container>
            </div>
        </div>
        <ion-button color="primary" class="submit-btn" expand="full" type="submit" [disabled]="!changePasswordForm.valid">Submit</ion-button>
    </form>
</ion-content>