
<ion-header>
    <ion-toolbar class="vb">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>

        <ion-title>Video</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="po">
    <ion-card>
        <ion-card-content>
    {{courseDetails.title}} 
      <vg-player >
          <vg-overlay-play></vg-overlay-play>
          <vg-buffering></vg-buffering>
          <vg-controls>
              <vg-play-pause></vg-play-pause>
              <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
              <vg-mute></vg-mute>
              <vg-volume></vg-volume>
       <vg-fullscreen></vg-fullscreen>
          </vg-controls>
          
        <video [vgMedia]="media" #media id="singleVideo" autoplay="true" (ended)="videoEnded()">
          <source [src]="videoSource" type="video/mp4">
        </video>
            </vg-player>
        </ion-card-content>
    </ion-card>
  
</ion-content>