<!-- <ion-header>
  <ion-toolbar>
    <ion-title>quiz</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>{{pageTitle}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="quiz-details" *ngIf="showQuestion">
    <ion-card-content>
      <ion-card-title>
        <h2>Question</h2>
      </ion-card-title>
      <ion-row class="row" no-padding="">
        <ion-col class="col">
          <!-- <h2 >{{quizDetails.question}}</h2> -->
          <h2 ><span [innerHTML]= "quizDetails.question"></span></h2>
          <ion-list no-lines radio-group>
            <ion-radio-group>
              <ion-item *ngFor="let ansOption of ansOptions; let i = index" class="list-course" [ngClass]="{'ans-success':ansStatus==1 && ansindex ==i, 'ans-error': ansStatus==2 && ansindex ==i}">
                 <!-- <ion-label>{{i+1}}. {{ansOption.answer}} </ion-label> -->
                 <ion-label>{{i+1}}.<span [innerHTML]= "ansOption.answer"></span> </ion-label>
                 <ion-radio (ionSelect)="selectAnswer(ansOption,quizDetails,i)"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row class="row" no-padding="">
        <ion-col size="12">
          <ion-button color="primary" expand="full" (click)="nextQuestion(quizDetails)">Continue</ion-button>

        </ion-col>

      </ion-row>
    </ion-card-content>
  </ion-card>
  <!-- -->
  <ion-card class="quiz-details" *ngIf="!showQuestion">
    <ion-card-content>
      <h1>You have finished the Quiz Successfully</h1>
      <h1>Total Marks : {{totalscore}} </h1>
      <h1>Marks Obtain : {{userscore}}</h1>
      <h1>Your Percentage of Marks: {{percentage}}%</h1>

      <ion-button shape="round" (click)="gotoCourse()">Back to Course</ion-button>
      <ion-button *ngIf="isCertificate ==1" shape="round" (click)="getCertificate()">Get certificate</ion-button>
    
      <!-- <ion-grid>
      <ion-row>
        <ion-col>
          <div>
              <ion-button *ngIf="isCertificate ==1" shape="round" (click)="getCertificate()">Get certificate</ion-button>
          </div>
        </ion-col>
        <ion-col>
          <div>
              <ion-button *ngIf="isCertificate ==1" shape="round" (click)="downloadCertificate()">Download</ion-button>
          </div>
        </ion-col>
      </ion-row>
        <ion-row>
        <ion-col>
          <div>
              <ion-button shape="round" (click)="gotoCourse()">Back to Course</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid> -->
    </ion-card-content>
  </ion-card>
</ion-content>