<ion-header>
    <ion-toolbar class="vb">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>

        <ion-title>course</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="po">
    <ion-card class="course-course gh">
        <div class="lk">
            <div class="vl">
                <img src="{{bannerImage}}" />
            </div>

            <div class="prograss-maindiv p-absolute w-50 mx-auto gf">
                <div class="progress-text text-white">

                    <ion-grid>
                        <ion-row>

                            <ion-col size="12">
                                <div class="ion-text-end">
                                    {{totalViewsCount}} of {{totalLec}} items complete
                                </div>
                            </ion-col>

                        </ion-row>
                    </ion-grid>
                </div>

                <div class="progress progress-medium">
                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                        aria-valuemax="100" style="width:100%">
                    </div>
                </div>
            </div>
        </div>
        <ion-card-header padding class="lo">
            <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="currentSegment">
                <ion-segment-button value="overview" class="fj">
                    <ion-icon name="search"></ion-icon>
                    <ion-label>Overview</ion-label>
                </ion-segment-button>
                <ion-segment-button value="coursecontent" class="fj">
                    <ion-icon name="information-circle"></ion-icon>
                    <ion-label>Content</ion-label>
                </ion-segment-button>
                <ion-segment-button value="assignment" class="fj">
                    <ion-icon name="document"></ion-icon>
                    <ion-label>Assignment</ion-label>
                </ion-segment-button>
            </ion-segment>
        </ion-card-header>
        <ion-card-content class="uip">
            <div class="yt">
                <div *ngIf="currentSegment=='overview'">
                    <h3>About this course</h3>
                    <img src="assets/imgs/c1.jpg" />
                    <ion-item-divider>
                        <ion-label>By The Numbers:</ion-label>
                    </ion-item-divider>

                    <ion-item lines="none">Total Lectures: {{totalLec}}</ion-item>
                    <ion-item lines="none">Languages: Bahasa Indonesia</ion-item>

                    <img src="assets/imgs/c2.jpg" />
                    <ion-item-divider>
                        <ion-label>Features</ion-label>
                    </ion-item-divider>
                    <ion-item lines="none">Lifetime access </ion-item>
                    <ion-item lines="none">Available on iOS and Android</ion-item>
                    <ion-item lines="none">Certificate of Completion</ion-item>

                    <p [innerHTML]='lecDesc'></p>
                </div>
            </div>
            <div class="xt">
                <div *ngIf="currentSegment=='coursecontent'">

                    <ion-card padding *ngFor="let course of courseContentNew; let i = index"
                        class="course-content{{i}}">
                        <ion-title class="lec-title" (click)="toggleDetails(course)"
                            *ngIf="course.lectureInfo.length >0">
                            <h6>Section {{i+1}} </h6><span> {{i+1}}/{{lessonCount}}</span> <img
                                src="assets/imgs/down.png" />
                        </ion-title>
                        <div *ngIf="course.showDetails" class="course-details">
                            <div *ngFor="let lecture of course.lectureInfo; let i = index" class="lec-info"
                                (click)="gotoPage(lecture)">
                                <ion-icon ios="ios-help-circle" md="md-help-circle"
                                    *ngIf="lecture.lectureType=='quiz' || lecture.lectureType=='link'"></ion-icon>
                                <ion-icon name="play-circle" *ngIf="lecture.lectureType=='video'"></ion-icon>
                                <ion-label text-wrap>{{i+1}}. {{lecture[3]}} </ion-label>
                                <span class="dot dot{{i}}" [ngClass]="{
                    'dot-black': lecture.readLectureInfo==0 || lecture.readLectureInfo=='' ,
                    'dot-blue': lecture.readLectureInfo ==1
                  }"></span>
                            </div>
                        </div>
                    </ion-card>
                </div>
            </div>
            <div class="zt">
                <div *ngIf="currentSegment=='assignment'" class="assignment">
                    <ion-card class="list-course" *ngIf="assignmentDetails.code ==1">
                        <ion-card-content>
                            <ion-card-title>
                                {{assignmentDetails.title}}
                            </ion-card-title>
                            <ion-row class="row" no-padding="">
                                <ion-col class="col">
                                    <ion-label> {{assignmentDetails.description}}</ion-label>
                                </ion-col>
                            </ion-row>
                            <ion-row class="row" no-padding="">
                                <ion-col class="col">
                                    <ion-label> </ion-label>
                                </ion-col>
                            </ion-row>
                            <ion-row class="row" no-padding="">
                                <ion-col size="12">
                                    <ion-button color="success" expand="full"
                                        (click)="gotoDownload(assignmentDetails.downloadUrl)">Download your uploaded
                                        assignment</ion-button>
                                </ion-col>
                            </ion-row>
                            <ion-row class="row" no-padding="">
                                <ion-col size="12">
                                    <ion-label>Assignment uploaded by you</ion-label>
                                    <ion-button *ngIf="assignmentDetails.assignmentExist==1" color="success"
                                        expand="full" (click)="gotoDownload(assignmentDetails.assignmentURL)">Download
                                        Your Uploaded Assignment</ion-button>
                                    <span *ngIf="assignmentDetails.assignmentExist==0"> No Assignment Found</span>
                                </ion-col>
                            </ion-row>
                            <ion-row class="row" no-padding="">
                                <ion-col size="12">
                                    <input style="display:none;" #fileUpload type="file"
                                        (click)="fileUpload.value = null"
                                        (change)="importFile($event,assignmentDetails)">
                                    <ion-button color="success" expand="full" (click)="fileUpload.click()">Upload
                                        Assignment</ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-card-content>
                    </ion-card>

                    <ion-card class="list-course" *ngIf="assignmentDetails.code ==2">
                        <ion-card-content>
                            <ion-card-title>
                                {{assignmentDetails.msg}}
                            </ion-card-title>

                        </ion-card-content>
                    </ion-card>
                </div>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>