<ion-header>
    <!-- <ion-toolbar>
    <ion-title>forgotpassword</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content class="forgot-page">
    <div class="lk">
        <div class="logo">
            <ion-img class="logo-circle" src="/assets/imgs/logo-circle.png"></ion-img>
            <h2>Employee <span>Forgot Password</span></h2>
        </div>
    </div>
    <div class="bt_bg">
        <form [formGroup]="forgotForm" (ngSubmit)="onSubmitForgot(forgotForm)" padding *ngIf="isFormShow==1">
            <div class="fg">

                <ion-item class="hj">
                    <ion-label position="floating" color="primary">Email</ion-label>
                    <ion-input type="text" formControlName="email"></ion-input>
                </ion-item>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.email">
                        <div class="error-message" *ngIf="forgotForm.get('email').hasError(validation.type) && (forgotForm.get('email').dirty || forgotForm.get('email').touched)">
                            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                        </div>
                    </ng-container>
                </div>


                <ion-button color="primary" class="submit-btn" expand="full" type="submit" [disabled]="!forgotForm.valid">Submit</ion-button>
            </div>
            <p class="white-link" (click)="gotoPage()" text-center>Back to Login?</p>
        </form>
        <form [formGroup]="otpForm" (ngSubmit)="onSubmitOTP(otpForm)" padding *ngIf="isFormShow==2">


            <ion-item>
                <ion-label position="floating" color="primary">OTP</ion-label>
                <ion-input type="password" formControlName="otp"></ion-input>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.otp">
                    <div class="error-message" *ngIf="otpForm.get('otp').hasError(validation.type) && (otpForm.get('otp').dirty || otpForm.get('otp').touched)">
                        <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                    </div>
                </ng-container>
            </div>


            <ion-button color="primary" class="submit-btn" expand="full" type="submit" [disabled]="!otpForm.valid">Submit</ion-button>
            <p class="white-link" (click)="gotoPage()" text-center>Back to Login?</p>
        </form>
        <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmitChangePass(changePasswordForm)" padding *ngIf="isFormShow==3">


            <div formGroupName="matching_passwords">
                <ion-item>
                    <ion-label position="floating" color="primary">Password</ion-label>
                    <ion-input type="password" formControlName="password"></ion-input>
                </ion-item>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.password">
                        <div class="error-message" *ngIf="changePasswordForm.get('matching_passwords').get('password').hasError(validation.type) && (changePasswordForm.get('matching_passwords').get('password').dirty || changePasswordForm.get('matching_passwords').get('password').touched)">
                            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                        </div>
                    </ng-container>
                </div>

                <ion-item>
                    <ion-label position="floating" color="primary">Confirm Password</ion-label>
                    <ion-input type="password" formControlName="confirm_password"></ion-input>
                </ion-item>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.confirm_password">
                        <div class="error-message" *ngIf="changePasswordForm.get('matching_passwords').get('confirm_password').hasError(validation.type) && (changePasswordForm.get('matching_passwords').get('confirm_password').dirty || changePasswordForm.get('matching_passwords').get('confirm_password').touched)">
                            <ion-icon name="information-circle-outline"></ion-icon>{{ validation.message }}
                        </div>
                    </ng-container>
                </div>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.matching_passwords">
                        <div class="error-message" *ngIf="changePasswordForm.get('matching_passwords').hasError(validation.type) && (changePasswordForm.get('matching_passwords').get('confirm_password').dirty || changePasswordForm.get('matching_passwords').get('confirm_password').touched)">
                            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                        </div>
                    </ng-container>
                </div>
            </div>


            <ion-button color="primary" class="submit-btn" expand="full" type="submit" [disabled]="!changePasswordForm.valid">Submit</ion-button>
            <p class="white-link" (click)="gotoPage()" text-center>Back to Login?</p>
        </form>
    </div>
</ion-content>