<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>coursefeedback</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row class="course-header">

      <ion-col size="4">
        <div>
          Activity List
        </div>
      </ion-col>
      <ion-col size="2">
        <div>
          Status
        </div>
      </ion-col>
      <ion-col size="6">
        <div>
          Completion Date
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="course-content">
      
      <ion-col size="4">
        <div>
          Enrollment Date of the Course
        </div>
      </ion-col>
      <ion-col size="2">
        <div>
          <ion-checkbox disabled="true" checked="true"></ion-checkbox> Passed <br>
         
        </div>
        <!-- <div *ngIf="courseDetails.status ==0">
            <ion-checkbox disabled="true" checked="false"></ion-checkbox> Not Yet
          </div> -->
      </ion-col>
      <ion-col size="6">
        <div>
          {{courseDetails.posttitle}},{{courseDetails.assigndate | date:'dd MMM yyyy'}} 
        </div>
      </ion-col>
    </ion-row>
<!-- Pre Test-->
    <ion-row class="course-content">
      
      <ion-col size="4">
        <div>
          Pre Test/Quiz
        </div>
      </ion-col>
      <ion-col size="2">
        <ion-row>
            <ion-col *ngFor="let courseContentpretest of CourseContentPreTest">
                <div *ngIf="courseContentpretest.status==1">
                    <ion-checkbox disabled="true" checked="true" ></ion-checkbox> Passed <br>
                   
                  </div>
                  <div *ngIf="courseContentpretest.status==0">
                      <ion-checkbox disabled="true" checked="false" *ngIf="courseContentpretest.status==0"></ion-checkbox> Not Yet
                    </div>
              </ion-col>
              
        </ion-row>
        
      </ion-col>
      <ion-col size="6">
        <div *ngFor="let courseContentpretest of CourseContentPreTest">
          {{courseContentpretest.percentage}}% , {{courseContentpretest.completionDate | date:'dd MMM yyyy'}}
        </div>
      </ion-col>
    </ion-row>

    <!-- Watch Video-->
    <ion-row class="course-content">
      
        <ion-col size="4">
          <div>
           Watched Video
          </div>
        </ion-col>
        <ion-col size="2">
          <ion-row>
              <ion-col *ngFor="let courseContentVideo of CourseContentWatchVideo">
                  <div *ngIf="courseContentVideo.status==1">
                      <ion-checkbox disabled="true" checked="true" ></ion-checkbox> Passed <br>
                     
                    </div>
                    <div *ngIf="courseContentVideo.status==0">
                        <ion-checkbox disabled="true" checked="false" *ngIf="courseContentVideo.status==0"></ion-checkbox> Not Yet
                      </div>
                </ion-col>
                
          </ion-row>
          
        </ion-col>
        <ion-col size="6">
          <div *ngFor="let courseContentVideo of CourseContentWatchVideo">
           <span *ngIf="courseContentVideo.status==1"> {{courseContentVideo.title}} , {{courseContentVideo.completionDate | date:'dd MMM yyyy'}}</span>
           <span *ngIf="courseContentVideo.status==0"> N/A</span>
          </div>
        </ion-col>
      </ion-row>

     <!-- Final Test/Quiz-->
   
     <ion-row class="course-content">
      
        <ion-col size="4">
          <div>
            Final Test
          </div>
        </ion-col>
        <ion-col size="2">
          <ion-row>
              <ion-col *ngFor="let courseContentfinaltest of CourseContentFinalTest">
                  <!-- <div *ngIf="courseContentpretest.status==1">
                      <ion-checkbox disabled="true" checked="true" ></ion-checkbox> Passed <br>
                     
                    </div>
                    <div *ngIf="courseContentpretest.status==0">
                        <ion-checkbox disabled="true" checked="false" *ngIf="courseContentpretest.status==0"></ion-checkbox> Not Yet
                      </div> -->
                </ion-col>
                
          </ion-row>
          
        </ion-col>
        <ion-col size="6">
          <div *ngFor="let courseContentfinaltest of CourseContentFinalTest">
            <!-- {{courseContentpretest.percentage}}% , {{courseContentpretest.completionDate | date:'dd MMM yyyy'}} -->
          </div>
        </ion-col>
      </ion-row>
      <!-- Assignment (if any)-->
      <ion-row class="course-content">
      
          <ion-col size="4">
            <div>
                Assignment (if any)
            </div>
          </ion-col>
          <ion-col size="2">
            <ion-row>
                <ion-col *ngFor="let CourseContentassignment of CourseContentAssignment">
                    <!-- <div *ngIf="courseContentpretest.status==1">
                        <ion-checkbox disabled="true" checked="true" ></ion-checkbox> Passed <br>
                       
                      </div>
                      <div *ngIf="courseContentpretest.status==0">
                          <ion-checkbox disabled="true" checked="false" *ngIf="courseContentpretest.status==0"></ion-checkbox> Not Yet
                        </div> -->
                        <span>N/A</span>  
                  </ion-col>
                  
            </ion-row>
            
          </ion-col>
          <ion-col size="6">
            <div *ngFor="let CourseContentassignment of CourseContentAssignment">
              <span *ngIf="CourseContentassignment.completionDate !=''">
                  {{courseContentpretest.completionDate | date:'dd MMM yyyy'}}
              </span>
              <span *ngIf="CourseContentassignment.completionDate ==''">
                 N/A
              </span>
              <!-- {{courseContentpretest.percentage}}% , {{courseContentpretest.completionDate | date:'dd MMM yyyy'}} -->
            </div>
          </ion-col>
        </ion-row>
        <!-- Certificate-->
        <ion-row class="course-content">
      
            <ion-col size="4">
              <div>
                Certificate
              </div>
            </ion-col>
            <ion-col size="2">
              <!-- <ion-row>
                  <ion-col *ngFor="let certificate of CourseContentCertificate">
                          <span>N/A</span>  
                    </ion-col>
                    
              </ion-row> -->
              <div>
                  <ion-checkbox disabled="true" ></ion-checkbox> Not Yet <br>
                 
                </div>
              
            </ion-col>
            <ion-col size="6">
              
                <span>
                   N/A
                </span>
    
            </ion-col>
          </ion-row>
  </ion-grid>
</ion-content>
