<ion-header>
  <!-- <ion-toolbar>
    <ion-title>aftersplash</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content fullscreen class="after-splash">
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide class="step-one">
      <ion-img src="/assets/imgs/intro1.png"></ion-img>
      <h1>Join US</h1>
      <p>Kapan terakhir kali Anda mengembangkan diri? Mari bergabung dengan STUDILMU: kursus online terbesar dan nomor
        1 di Indonesia untuk para profesional yang ingin senantiasa berkembang.</p>
      <a href="" class="skip_button" routerLink="/login" style="padding: 10px;"> Skip <ion-icon ios="ios-arrow-dropright"
          md="md-arrow-dropright"></ion-icon></a>
    </ion-slide>

    <ion-slide class="step-two">
      <ion-img src="/assets/imgs/intro2.png"></ion-img>
      <h1>Membership</h1>
      <p>Apakah Anda ingin berkembang optimal dengan investasi terjangkau? Tersedia kursus GRATIS dan juga kursus
        berbayar berlangganan terjangkau.</p>
      <a href="" class="skip_button" routerLink="/login" style="padding: 10px;"> Skip <ion-icon ios="ios-arrow-dropright"
          md="md-arrow-dropright"></ion-icon></a>
    </ion-slide>

    <ion-slide class="step-three">
      <ion-img src="/assets/imgs/intro3.png"></ion-img>
      <h1>Video Courses</h1>
      <p>Akses tanpa batas ke seluruh katalog kursus online STUDILMU. Belajar di mana pun dan kapan pun dari para
        instruktur ahli di bidangnya.</p>

      <a href="" class="skip_button" routerLink="/login" style="padding: 10px;"> Skip <ion-icon ios="ios-arrow-dropright"
          md="md-arrow-dropright"></ion-icon></a>
    </ion-slide>
  </ion-slides>
</ion-content>