.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}


ion-content {
//  --background: #f310194a;
}
.home-rating {
  padding:8px;
  font-size:30px;
}
.course-title {
  font-size: 20px;
}

.menu-rightside-icon {
  font-size: 27px;
  color:#fff;
}

.list-course img {
  height:150px;
}