<ion-header>
    <ion-toolbar class="vb">
        <ion-buttons slot="start">
            <!-- <ion-back-button ></ion-back-button> -->
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Profile View</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="po">
    <div class="fo">
        <div class="mo">
            <img src="{{userDetails.profile_image}}" class="profile-image" (click)="selectImage()" />
            <ion-item class="mo1">
                <ion-label>
                    <ion-icon name="person"></ion-icon>
                    {{userDetails.first_name}} {{userDetails.last_name}}
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    <ion-icon name="mail"></ion-icon>
                    {{userDetails.email}}
                </ion-label>
            </ion-item>
            <ion-icon name="camera" class="edit-icon"></ion-icon>
        </div>
    </div>
    <div class="ion-text-center profile-view uo">
        <!-- <ion-item>
            <ion-label>
                <ion-icon name="person"></ion-icon>
                {{userDetails.first_name}} {{userDetails.last_name}}
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <ion-icon name="mail"></ion-icon>
                {{userDetails.email}}
            </ion-label>
        </ion-item> -->
        <ion-item>
            <ion-label>
                <ion-icon name="information-circle"></ion-icon>
                <p>Department :</p> <span>{{userDetails.department_name}}</span>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <ion-icon name="document"></ion-icon>
                <p>Position:</p> <span>{{userDetails.designation_name}}</span>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <ion-icon name="hourglass"></ion-icon>
                <p>Status:</p> <span>Active</span>
            </ion-label>
        </ion-item>
        <ion-button shape="round" padding (click)="gotoPage('profileedit')" class="ion-text-capitalize"><span>Edit Profile</span></ion-button>
    </div>




</ion-content>